:root {
    
    --card-size: 10vw; /* Utilizziamo le viewport units per adattarsi alle dimensioni dello schermo */
}

#grid {
    height: calc(var(--card-size) * 3);
    width: calc(var(--card-size) * 4);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    width: var(--card-size);
    height: var(--card-size);
    background-image: url('./images/back.png');
    background-repeat: no-repeat;
    background-size: contain; 
    cursor: pointer;
}

@media (max-width: 900px) {
    /* Quando la larghezza dello schermo è inferiore a 900px */
    :root {
      --card-size: 20vw; /* Cambia la dimensione delle carte a 20vw */
    }
  }

.alien {
    background-image: url('./images/alien.png');
}

.bug {
    background-image: url('./images/bug.png');
}

.ghost {
    background-image: url('./images/ghost.png');
}

.pad {
    background-image: url('./images/pad.png');
}

.spaceship {
    background-image: url('./images/spaceship.png');
}

.tiktac {
    background-image: url('./images/tiktac.png');
}