:root {
  --cell-size: 8vw;       /* Definizione di una variabile per la dimensione delle celle in viewport width */
  --cell-gutter: 2vw;     /* Definizione di una variabile per lo spazio tra le celle */
}

.cell {
  height: var(--cell-size);       /* Altezza della cella */
  width: var(--cell-size);        /* Larghezza della cella */
  border: 4px solid #ffffff;      /* Applica un bordo bianco di 4 pixel alle celle */
  cursor: pointer;                /* Cambia il cursore del mouse quando si passa sopra una cella */
  font-size: 60px;                /* Dimensione del carattere*/
  display: flex;                  /* Utilizza il modello di layout flessibile */
  align-items: center;            /* Centra verticalmente il contenuto della cella */
  justify-content: center;         /* Centra orizzontalmente il contenuto della cella */
  margin-bottom: var(--cell-gutter); /* Aggiunge uno spazio alla parte inferiore della cella */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titolo{
  margin-top: 0px;
}

/* Impostazioni della griglia */
#grid {
  width: calc((var(--cell-size) + var(--cell-gutter)) * 3);
  height: calc((var(--cell-size) + var(--cell-gutter)) * 3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allinea su tre piani le 9 celle */
  align-content: space-between;
  justify-content: space-between;
  margin: auto; /* Aggiunto per centrare la griglia */
}

/* Media query per adattare la griglia a schermi più piccoli */
@media(max-width: 1050px){
  :root{
    --cell-size: 16vw;
    --cell-gutter: 3vw;
  }
}