:root{
    --cell-size: 150px;
    --cell-gutter: 60px;    
}

#grid{
    width: calc(var(--cell-size) * 3 + var(--cell-gutter) );
    height: calc(var(--cell-size) * 3 + var(--cell-gutter) );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: absolute;
    
}

.cell{
    height: var(--cell-size);
    width: var(--cell-size);

    background-color: white;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    cursor: pointer;

}

.gameArea{
    justify-content: center;
    display: flex;
    padding-top: 90px;
}

h1{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bug{
    background-image: url('bug.png');
}

.splat{
    background-image: url('bug-splat.png');
}
h3{
    display: flex;
    padding: 15px;
}

.scoreboard{
    margin-right: auto;
    
}
p{
    padding: 5px;
}

.menu{
    display: flex;
    position: absolute;
    bottom: -600px;
    margin-left: auto;
}

.game-alert-message{
    font-size: 40px;
    padding: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: -190px;
  
    background-color: var(--other-color);
  }
 