:root{
  --cell-size: 7vw;
  --cell-gutter: 3vw;
}

#grid{
  width: calc(var(--cell-size) * 3 + var(--cell-gutter));
  height: calc(var(--cell-size) * 3 + var(--cell-gutter));

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;

}

.cell{
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: #ffffff;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.bug{
  background-image: url('bug.png');
}

.splat{
  background-image: url('bug-splat.png');
}

h3{
  margin-bottom: 12px;
}

@media (max-width:900px){
  :root{
    --cell-size: 14vw;
    --cell-gutter :5vw;
  }
}